
@import url(./darkly.css);

.menu-options,
.main-nav {
    background: url(../img/concrete_wall/concrete_wall.png) 50% 50% repeat;
}

.matching-control {
background-color: #303030;
}
/* .progresso > span {
    background-image:
         linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         linear-gradient(to top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         linear-gradient(to left, #375a7f, #6c757d);
} */
.progress-bar {
    /* background-color: #6c757d; */
    background-color: #375a7f;
}
.progress {
    background-color: transparent;
    border-radius: 0;
}
.main-nav .button {
    background-color: #6c757d;
    border-color: #5c656d;
}
.comment-icon,
.image-icon,
.database-icon {
    background-color: #888;
}

a.text-secondary:hover,
a.text-secondary:focus {
    /* color: #eee; */
}
.result-box a,
.review-question,
.review-question:hover,
.review-question:focus {
    color: #eee;
}

.list-group-item-action {
    /* color: #fff; */
}
.list-group-item-danger {
    color: #78281f;
}
.list-group-item-success {
    color: #006249;
}
.btn-secondary {
    /* background-color: #aaa; */
    border-color: #5c656d;
}